.wrapper {
    padding: 0 20px;
}
.search-wrapper {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

.input-group{
    justify-content: center;
    align-items: center;
}

.input-group label {
    margin-right: 10px;
}

.searchResults {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #dddd;
    border-radius: 20px;
}

.date-wrapper {
    height: 100px;
}

.calculator-wrapper {
    width: 75%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}
