.advertise-wrapper {
  background-color: $color-primary;
  position: relative;
  padding: 4rem 0;

  .advertise-dot-deco {
    &:first-child {
      position: absolute;
      bottom: 0;

      .dot-wrapper {
        .dot {
          background-color: $dot-color-pink;
        }
      }
    }
    
    &:nth-child(2) {
      position: absolute;
      right: 6rem;
      top: 50%;
      transform: translateY(-50%);
  
      .dot-wrapper {
        .dot {
          background-color: $dot-color-grey;
        }
      }
    }
  }


  .advertise-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 10rem;

    .advertise-content-btn {
      @include pageBtn(1.2rem, 2rem);
      border-radius: 0.5rem;
    }
  }

  .advertise-deco {
    .advertise-deco-avatar {
      position: absolute;
      @include pageAvatar(5.5rem, 5.5rem);

      &:first-child {
        top: 4rem;
        left: 25rem;
      }

      &:nth-child(2) {
        top: 50%;
        left: 12rem;
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        bottom: 4rem;
        left: 30rem;
      }

      &:nth-child(4) {
        top: 3rem;
        right: 25rem;
      }

      &:nth-child(5) {
        top: 50%;
        right: 5rem;
        transform: translate(-50%, -50%);
      }

      &:nth-child(6) {
        bottom: 4rem;
        right: 30rem;
      }
    }

    .advertise-deco-ring {
      @include pageAvatar(3rem, 3rem);
      position: absolute;
      border: 1rem solid $btn-primary;

      &:first-of-type {
        top: 50%;
        left: 20rem;
        transform: translate(-50%, -50%);
      }

      &:last-of-type {
        top: 6rem;
        right: 12rem;
      }
    }
  }
}