.category-wrapper {
  padding: 5rem 0;
  .category-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    .category-selection-title {
      font-weight: 600;
    }

    .category-selection-filter {
      button {
        @include pageBtn(1.2rem, 2rem);
        border-radius: 0.5rem;
      }
    }
  }

  .category-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
