.course-wrapper {
  background-color: $color-secondary;
  padding-bottom: 5rem;

  .course-selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 4rem;

    .course-selection-title {
      font-weight: 600;
    }

    .course-selection-filter {
      display: flex;

      .course-selection-filter-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;

        .dropdown-menu {
          padding: 2rem;
          & > li {
            margin-bottom: 2rem;

            .dropdown-item {
              font-size: 1.7rem;

              &:hover {
                background-color: transparent;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      button {
        &:first-child {
          margin-right: 1.5rem;
        }

        &:last-child {
          @include pageBtn(1.2rem, 2rem);
          border-radius: 0.5rem;
        }
      }
    }
  }

  .course-carousel {
    padding: 0 2rem;
  }
}
