.feedback-wrapper {
  background-color: $color-secondary;
  padding: 5rem 0;

  .feedback-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .feedback-slider-btn {
      display: flex;
      gap: 2rem;

      button {
        @include pageSliderBtn;
      }
    }
  }

  .feedback-cards {
    margin-top: 4rem;
    display: flex;
    gap: 2.5rem;
  }
}
