.banner__wrapper {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: $color-primary;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;

    .banner__content {
      margin-top: 1rem;

      &-title {
        font-size: 4rem;
        font-weight: 800;
        line-height: 5.3rem;
        margin-bottom: 3.2rem;
      }

      &-desc {
        font-size: 1.6rem;
        color: $p-primary;
        line-height: 2.3rem;
        margin-bottom: 3.2rem;
      }

      &-input {
        box-shadow: rgba(165, 149, 158, 0.2) 0px 8px 24px;

        input {
          padding: 1.4rem 2rem;
          background-color: white;
          border: none;
          width: 100%;
        }

        button {
          @include pageBtn(1.4rem, 2rem);
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;

          i {
            font-size: 2rem;
          }
        }
      }
    }

    .banner__image {
      @include pageImage();
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
      border: 3px solid $color-forth;
      border-radius: 2rem;

      img {
        object-fit: cover;
        border-radius: 2rem;
        position: absolute;
        z-index: 2;
        top: -3rem;
        left: -3rem;
      }
    }
  }
}
