.class__wrapper {
    padding: 5rem 0;

    .class__selection {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-filter {
            @include pageBtn(1.5rem, 2rem);
            border-radius: 0.5rem;
        }
    }

    .class__list {
        
        .class {
            min-width: 25rem;


            .class__image {
                position: relative;
                height: 20rem;

                &-avatar {
                    position: absolute;
                    width: auto;
                    height: 25rem;
                    object-fit: cover;
                    filter: drop-shadow(5px 5px 5px #666);
                    z-index: 3;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &-background {
                    position: absolute;
                    width: 20rem;
                    height: 18rem;
                    background-color: $icon-color-green;
                    z-index: 2;
                    bottom: 0;
                    &:first-child {
                    }
                }
            }
        }
    }
}