.header__wrapper {
  background-color: $color-primary;
  .wrapper {
    display: flex;
    justify-content: space-between;

    .header__logo {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 4rem;

      img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }
    }

    .header__nav {
      margin-right: 5.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav__list {
        display: flex;

        .nav__item {
          margin-right: 3.2rem;
          font-size: 1.2rem;

          i {
            font-size: 0.8rem;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .header__action {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .header__action-register {
        button {
          border-radius: 0.3rem;
          @include pageBtn(1.2rem, 2rem);
        }
      }
    }
  }
}

.header__responsive {
  display: none;
}
