$bg-footer: #282834;
$btn-primary: #f66962;

$color-primary: #fef0ef;
$color-secondary: #efeff7;
$color-third: #fdf3e9;
$color-forth: #f68c1f;
$color-fifth: #e5fae9;
$color-sixth: #dcf7fe;

$p-primary: #5f5881;

$icon-bg-purple: #e2dcfe;
$icon-color-purple: #5c4dab;

$icon-bg-blue: #bbf0fd;
$icon-color-blue: #0d99ff;

$icon-bg-green: #cef5d6;
$icon-color-green: #65d673;
