:root {
  --color-background-primary: #e5e5e5;
  --color-hover-primary: #dddddd;
  --color-primary: #008000;
  --color-primary-dark: #004000;
  --color-primary-light: #80ff80;
  --color-danger: red;
  --color-danger-dark: #800000;
  --color-danger-light: #ff8080;
}
