@import 'variables';
@import 'reset';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  font-size: 1.4rem;
  background-color: var(--color-background-primary);
}

* {
  box-sizing: border-box;
  color: var(--color-gray-darker);
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}
