@media screen and (max-width: 991px) {
  .banner-wrapper {
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .banner-content {
        padding: 0 7rem;
      }
    }
  }
}
