@media screen and (max-width: 991px) {
  .feedback__wrapper {
    .feedback__slider {
      flex-direction: column;
      gap: 2rem;

      &-btn {
        display: none;
      }

      .responsive {
        display: flex;
        gap: 2rem;
      }
    }

    .feedback__cards {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .card {
        width: 75%;
      }
    }
  }
}
