@media screen and (max-width: 991px) {
  .feedback__wrapper {
    .feedback__slider {
      flex-direction: column;
      gap: 2rem;
    }

    .feedback__cards {
      padding: 2rem 5rem;
    }
  }
}
