@media screen and (max-width: 991px) {
  .footer-wrapper {
    .footer-deco {
      opacity: 0.2;
    }
    .wrapper {
      padding: 0 1rem;

      .footer-info-list {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1rem;

        .footer-info {
          margin-bottom: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
      .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        .footer-bottom-trademark {
          text-align: center;
          line-height: 3rem;
        }

        .footer-bottom-medias {
          margin-top: 2rem;
          width: 100%;
          display: flex;
          gap: 5rem;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 493px) {
  .footer-wrapper {
    & * {
      font-size: 2rem;
    }

    .wrapper {
      .footer-info-list {
        grid-template-columns: repeat(1, 1fr);

        .footer-info {
          display: block;
          text-align: center;
          padding: 1rem 3rem;
          border-bottom: 1px solid #7e7e86;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
