@media screen and (max-width: 991px) {
  .hero-wrapper {
    .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .hero-content {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .hero-content-desc {
          text-align: center;
        }
      }
    }
  }
}
