@media screen and (max-width: 991px) {
  .partner-wrapper {
    .wrapper {
      padding: 0 1rem;

      .partner-slider {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .partner-list {
    display: flex;
    justify-content: center;

    .partner {
      width: 20rem;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
