/*
 reset CSS
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  max-width: 131.3rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: inherit;
}

p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #5f5881;
}

a {
  font-size: 1.2rem;
}

li {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
  padding: 0px;
  border: none;
  background-color: transparent;
}
button:hover {
  opacity: 0.5;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.wrapper {
  max-width: 86.3rem;
  margin: 0 auto;
}

.page__wrapper {
  max-width: 131.3rem;
  margin: 0 auto;
  overflow: hidden;
}

.header__wrapper {
  background-color: #fef0ef;
  position: fixed;
  width: 100%;
  z-index: 99999;
}
.header__wrapper .wrapper {
  display: flex;
  justify-content: space-between;
}
.header__wrapper .wrapper .header__logo {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 4rem;
}
.header__wrapper .wrapper .header__logo img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.header__wrapper .wrapper .header__nav {
  margin-right: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__wrapper .wrapper .header__nav .nav__list {
  display: flex;
}
.header__wrapper .wrapper .header__nav .nav__list .nav__item {
  margin-right: 3.2rem;
  font-size: 1.2rem;
}
.header__wrapper .wrapper .header__nav .nav__list .nav__item i {
  font-size: 0.8rem;
}
.header__wrapper .wrapper .header__nav .nav__list .nav__item:last-child {
  margin-right: 0;
}
.header__wrapper .wrapper .header__action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header__wrapper .wrapper .header__action .header__action-register button {
  border-radius: 0.3rem;
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
}

.header__responsive {
  display: none;
}

.banner__wrapper {
  padding-top: 15rem;
  padding-bottom: 5rem;
  background-color: #fef0ef;
}
.banner__wrapper .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}
.banner__wrapper .wrapper .banner__content {
  margin-top: 1rem;
}
.banner__wrapper .wrapper .banner__content-title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.3rem;
  margin-bottom: 3.2rem;
}
.banner__wrapper .wrapper .banner__content-desc {
  font-size: 1.6rem;
  color: #5f5881;
  line-height: 2.3rem;
  margin-bottom: 3.2rem;
}
.banner__wrapper .wrapper .banner__content-input {
  box-shadow: rgba(165, 149, 158, 0.2) 0px 8px 24px;
}
.banner__wrapper .wrapper .banner__content-input input {
  padding: 1.4rem 2rem;
  background-color: white;
  border: none;
  width: 100%;
}
.banner__wrapper .wrapper .banner__content-input button {
  padding: 1.4rem 2rem;
  background-color: #f66962;
  color: white;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.banner__wrapper .wrapper .banner__content-input button i {
  font-size: 2rem;
}
.banner__wrapper .wrapper .banner__image {
  width: 35rem;
  height: 39rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #f68c1f;
  border-radius: 2rem;
  position: relative;
}
.banner__wrapper .wrapper .banner__image img {
  object-fit: cover;
  border-radius: 2rem;
  position: absolute;
  z-index: 2;
  top: -3rem;
  left: -3rem;
}
.banner__wrapper .wrapper .banner__image i {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 2rem;
  color: #f66962;
  background-color: white;
  border-radius: 50%;
  line-height: 8rem;
  width: 8rem;
  height: 8rem;
  text-align: center;
}

.course__wrapper {
  background-color: #efeff7;
  padding-bottom: 5rem;
}
.course__wrapper .course__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  margin-bottom: 4rem;
}
.course__wrapper .course__selection-title {
  font-weight: 600;
}
.course__wrapper .course__selection-filter button:first-child {
  margin-right: 1.5rem;
}
.course__wrapper .course__selection-filter button:last-child {
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.course__wrapper .course__list {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  scrollbar-width: none;
  margin-bottom: 2rem;
  overflow-x: auto;
}
.course__wrapper .course__list::-webkit-scrollbar {
  display: none;
}
.course__wrapper .course__list .course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  min-width: 24.5rem;
}
.course__wrapper .course__list .course .course__image img {
  border-radius: 0.5rem;
  width: auto;
  height: 20rem;
  object-fit: cover;
}
.course__wrapper .course__list .course .course__dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f6fc;
  padding: 1.2rem 0;
}
.course__wrapper .course__list .course .course__dashboard-rate i {
  color: #f5c467;
}
.course__wrapper .course__list .course .course__dashboard-view i {
  color: #f68c1f;
}
.course__wrapper .course__list .course .course__dashboard-lesson i {
  color: #75b291;
}
.course__wrapper .course__list .course .course__info-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.course__wrapper .course__list .course .course__info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course__wrapper .course__list .course .course__info-content-avatar {
  display: flex;
  align-items: center;
  flex: 1 0 4rem;
  color: #5f5881;
  font-size: 1rem;
}
.course__wrapper .course__list .course .course__info-content-avatar img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.course__wrapper .course__list .course .course__info-content-price {
  display: flex;
  gap: 1rem;
}
.course__wrapper .course__list .course .course__info-content-price .price-sale {
  font-weight: 600;
  color: #f68c1f;
}
.course__wrapper .course__list .course .course__info-content-price .price-original {
  color: #5f5881;
  text-decoration: line-through;
}
.course__wrapper .course__slider {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.course__wrapper .course__slider button {
  display: block;
}
.course__wrapper .course__slider-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: white;
  flex-grow: 0;
  flex-shrink: 0;
}
.course__wrapper .course__slider-btn i {
  color: #f68c1f;
}
.course__wrapper .course__slider-btn:hover {
  opacity: 1;
  background-color: rgba(221, 221, 221, 0.8666666667);
}
.course__wrapper .course__slider-btn:hover i {
  color: #f68c1f;
}
.course__wrapper .course__slider-btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.course__wrapper .course__slider-btn[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
}
.course__wrapper .course__slider-btn[disabled]:hover i {
  color: #666666;
}
.course__wrapper .course__slider-track {
  height: 0.5rem;
  width: 100%;
  background-color: transparent;
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
}
.course__wrapper .course__slider-track:hover {
  height: 0.7rem;
}
.course__wrapper .course__slider-track .course__slider-thumb {
  position: absolute;
  height: 100%;
  width: 33%;
  background-color: #f68c1f;
  border-radius: inherit;
  cursor: grab;
}
.course__wrapper .course__slider-track .course__slider-thumb:active {
  cursor: grabbing;
  background-color: rgba(221, 221, 221, 0.8666666667);
  height: 0.8rem;
  top: -0.2rem;
}
.course__wrapper .course__slider-track .course__slider-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  bottom: -1rem;
}

.category__wrapper {
  padding: 5rem 0;
}
.category__wrapper .category__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.category__wrapper .category__selection-title {
  font-weight: 600;
}
.category__wrapper .category__selection-filter button {
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.category__wrapper .category__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.category__wrapper .category__list .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  padding: 2em 1.5rem;
  border-radius: 0.3rem;
}
.category__wrapper .category__list .category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
}
.category__wrapper .category__list .category-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.category__wrapper .category__list .category-info {
  color: #9195a9;
  line-height: 2rem;
}
.category__wrapper .category__list .category:first-child, .category__wrapper .category__list .category:nth-child(8) {
  background-color: #efeff7;
}
.category__wrapper .category__list .category:first-child .category-icon, .category__wrapper .category__list .category:nth-child(8) .category-icon {
  background-color: #e2dcfe;
}
.category__wrapper .category__list .category:first-child .category-icon i, .category__wrapper .category__list .category:nth-child(8) .category-icon i {
  color: #5c4dab;
}
.category__wrapper .category__list .category:nth-child(2) {
  background-color: #f68c1f;
  color: white;
}
.category__wrapper .category__list .category:nth-child(2) .category-icon {
  background-color: white;
}
.category__wrapper .category__list .category:nth-child(2) .category-icon i {
  color: #f68c1f;
}
.category__wrapper .category__list .category:nth-child(2) .category-info {
  color: white;
}
.category__wrapper .category__list .category:nth-child(3), .category__wrapper .category__list .category:nth-child(6) {
  background-color: #dcf7fe;
}
.category__wrapper .category__list .category:nth-child(3) .category-icon, .category__wrapper .category__list .category:nth-child(6) .category-icon {
  background-color: #bbf0fd;
}
.category__wrapper .category__list .category:nth-child(3) .category-icon i, .category__wrapper .category__list .category:nth-child(6) .category-icon i {
  color: #0d99ff;
}
.category__wrapper .category__list .category:nth-child(4), .category__wrapper .category__list .category:nth-child(5) {
  background-color: #e5fae9;
}
.category__wrapper .category__list .category:nth-child(4) .category-icon, .category__wrapper .category__list .category:nth-child(5) .category-icon {
  background-color: #cef5d6;
}
.category__wrapper .category__list .category:nth-child(4) .category-icon i, .category__wrapper .category__list .category:nth-child(5) .category-icon i {
  color: #65d673;
}
.category__wrapper .category__list .category:nth-child(7) {
  background-color: #fdf3e9;
}
.category__wrapper .category__list .category:nth-child(7) .category-icon {
  background-color: #fae0d1;
}
.category__wrapper .category__list .category:nth-child(7) .category-icon i {
  color: #f68c1f;
}

.advertise__wrapper {
  background-color: #fef0ef;
  position: relative;
  padding: 4rem 0;
}
.advertise__wrapper .advertise__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 10rem;
}
.advertise__wrapper .advertise__content-btn {
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.advertise__wrapper .advertise__deco-avatar {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
.advertise__wrapper .advertise__deco-avatar:first-child {
  top: 4rem;
  left: 25rem;
}
.advertise__wrapper .advertise__deco-avatar:nth-child(2) {
  top: 50%;
  left: 12rem;
  transform: translate(-50%, -50%);
}
.advertise__wrapper .advertise__deco-avatar:nth-child(3) {
  bottom: 4rem;
  left: 30rem;
}
.advertise__wrapper .advertise__deco-avatar:nth-child(4) {
  top: 3rem;
  right: 25rem;
}
.advertise__wrapper .advertise__deco-avatar:nth-child(5) {
  top: 50%;
  right: 5rem;
  transform: translate(-50%, -50%);
}
.advertise__wrapper .advertise__deco-avatar:nth-child(6) {
  bottom: 4rem;
  right: 30rem;
}
.advertise__wrapper .advertise__deco-ring {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  border: 1rem solid #f66962;
}
.advertise__wrapper .advertise__deco-ring:first-of-type {
  top: 50%;
  left: 23rem;
  transform: translate(-50%, -50%);
}
.advertise__wrapper .advertise__deco-ring:last-of-type {
  top: 6rem;
  right: 12rem;
}

.hero__wrapper {
  padding: 8rem 0;
}
.hero__wrapper .wrapper {
  display: flex;
  gap: 5rem;
}
.hero__wrapper .wrapper .hero__content {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.hero__wrapper .wrapper .hero__content-desc {
  color: #5f5881;
  line-height: 2.5rem;
  margin: 2rem 0;
}
.hero__wrapper .wrapper .hero__content-list {
  color: #5f5881;
}
.hero__wrapper .wrapper .hero__content-list li {
  margin-bottom: 1rem;
}
.hero__wrapper .wrapper .hero__content-list li i {
  color: #65d673;
  margin-right: 1rem;
}
.hero__wrapper .wrapper .hero__content-btn button {
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.hero__wrapper .wrapper .hero__image {
  width: 35rem;
  height: 39rem;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}
.hero__wrapper .wrapper .hero__image-border {
  width: 100%;
  height: 100%;
  border: 3px solid #f66962;
  border-top-right-radius: 10rem;
}
.hero__wrapper .wrapper .hero__image-border img {
  border-top-right-radius: 10rem;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 2;
  top: 3rem;
  left: -3rem;
}

.feedback__wrapper {
  background-color: #efeff7;
  padding: 5rem 0;
}
.feedback__wrapper .feedback__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback__wrapper .feedback__slider-btn {
  display: flex;
  gap: 2rem;
}
.feedback__wrapper .feedback__slider-btn button {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: white;
}
.feedback__wrapper .feedback__slider-btn button i {
  color: #f68c1f;
}
.feedback__wrapper .feedback__slider-btn button:hover {
  opacity: 1;
  background-color: rgba(221, 221, 221, 0.8666666667);
}
.feedback__wrapper .feedback__slider-btn button:hover i {
  color: #f68c1f;
}
.feedback__wrapper .feedback__slider-btn button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.feedback__wrapper .feedback__slider-btn button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
}
.feedback__wrapper .feedback__slider-btn button[disabled]:hover i {
  color: #666666;
}
.feedback__wrapper .feedback__slider .responsive {
  display: none;
}
.feedback__wrapper .feedback__cards {
  margin-top: 4rem;
  display: flex;
  gap: 2.5rem;
}
.feedback__wrapper .feedback__cards .card {
  padding: 2rem 1.5rem;
  border-top-right-radius: 5rem;
  background-color: #f7f6fb;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}
.feedback__wrapper .feedback__cards .card .card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.feedback__wrapper .feedback__cards .card .card__title-student {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback__wrapper .feedback__cards .card .card__title-student-avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.feedback__wrapper .feedback__cards .card .card__title-student-name {
  color: #5f5881;
  font-weight: 600;
}
.feedback__wrapper .feedback__cards .card .card__title-rate i {
  color: #f68c1f;
}
.feedback__wrapper .feedback__cards .card:hover {
  background-color: white;
  border-left: 0.3rem solid #f68c1f;
}

.partner__wrapper {
  padding: 5rem 0;
}
.partner__wrapper .partner__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.partner__wrapper .partner__slider-btn {
  display: flex;
  gap: 2rem;
}
.partner__wrapper .partner__slider-btn button {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  background-color: white;
  background-color: #efeff7;
}
.partner__wrapper .partner__slider-btn button i {
  color: #f68c1f;
}
.partner__wrapper .partner__slider-btn button:hover {
  opacity: 1;
  background-color: rgba(221, 221, 221, 0.8666666667);
}
.partner__wrapper .partner__slider-btn button:hover i {
  color: #f68c1f;
}
.partner__wrapper .partner__slider-btn button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.partner__wrapper .partner__slider-btn button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
}
.partner__wrapper .partner__slider-btn button[disabled]:hover i {
  color: #666666;
}
.partner__wrapper .partner__slider .responsive {
  display: none;
}
.partner__wrapper .partner__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
.partner__wrapper .partner__list .partner {
  object-fit: contain;
}

.career__wrapper {
  background-color: #fef0ef;
  padding: 5rem 0;
}
.career__wrapper .career__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.career__wrapper .career__list .career {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  background-color: white;
  padding: 3rem 1.5rem;
}
.career__wrapper .career__list .career .career__image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
.career__wrapper .career__list .career .career__content-title {
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #5f5881;
}
.career__wrapper .career__list .career .career__content-desc {
  margin-bottom: 1rem;
}
.career__wrapper .career__list .career .career__content-btn {
  padding: 1.5rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}

.class__wrapper {
  padding: 5rem 0;
}
.class__wrapper .class__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__wrapper .class__selection-filter {
  padding: 1.5rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.class__wrapper .class__list .class {
  min-width: 25rem;
}
.class__wrapper .class__list .class .class__image {
  position: relative;
  height: 20rem;
}
.class__wrapper .class__list .class .class__image-avatar {
  position: absolute;
  width: auto;
  height: 25rem;
  object-fit: cover;
  filter: drop-shadow(5px 5px 5px #666);
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.class__wrapper .class__list .class .class__image-background {
  position: absolute;
  width: 20rem;
  height: 18rem;
  background-color: #65d673;
  z-index: 2;
  bottom: 0;
}
.footer__wrapper {
  background-color: #282834;
  padding-top: 5rem;
}
.footer__wrapper * {
  color: white;
}
.footer__wrapper .footer__info__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
}
.footer__wrapper .footer__info__list .footer__info-title {
  margin-bottom: 3rem;
}
.footer__wrapper .footer__info__list .footer__info-link .link {
  margin-bottom: 1.5rem;
}
.footer__wrapper .footer__info__list .footer__info-link .link a {
  color: #7e7e86;
}
.footer__wrapper .footer__bottom {
  border-top: 0.1rem solid #7e7e86;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper .footer__bottom * {
  color: #7e7e86;
}
.footer__wrapper .footer__bottom-medias > i {
  padding-right: 2rem;
}

@media screen and (max-width: 991px) {
  li {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 991px) {
  .header__wrapper {
    display: none;
  }
  .header__responsive {
    background-color: #fef0ef;
    display: block;
  }
  .header__responsive .wrapper .header__logo {
    margin-bottom: 4rem;
  }
  .header__responsive .wrapper .header__logo img {
    display: block;
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  .header__responsive .wrapper .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }
  .header__responsive .wrapper .header__nav .header__toggle__nav {
    border: 0.2rem solid rgba(221, 221, 221, 0.8666666667);
    font-size: 3rem;
  }
  .header__responsive .wrapper .header__nav .offcanvas-header {
    background-color: #fef0ef;
  }
  .header__responsive .wrapper .header__nav .offcanvas-header .offcanvas-title {
    font-size: 4.5rem;
  }
  .header__responsive .wrapper .header__nav .offcanvas-body * {
    font-size: 2.5rem;
  }
  .header__responsive .wrapper .header__nav .offcanvas-body .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }
  .header__responsive .wrapper .header__nav .header__action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .header__responsive .wrapper .header__nav .header__action-cart button {
    padding: 0.5rem;
    font-size: 3rem;
  }
  .header__responsive .wrapper .header__nav .header__action-register button {
    padding: 2rem 2rem;
    background-color: #f66962;
    color: white;
    border-radius: 0.5rem;
  }
  .header__responsive .wrapper .header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 2rem;
  }
  .header__responsive .wrapper .header__search .form-control {
    padding: 1rem 2rem;
  }
  .header__responsive .wrapper .header__search .btn {
    width: 3rem;
    height: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 991px) {
  .banner__wrapper .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner__wrapper .wrapper .banner__content {
    padding: 0 7rem;
  }
}
@media screen and (max-width: 991px) {
  .course__wrapper .course__selection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .course__wrapper .course__selection-title {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .category__wrapper .category__selection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .category__wrapper .category__selection-title {
    text-align: center;
  }
  .category__wrapper .category__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 839px) {
  .category__wrapper .category__list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }
}
@media screen and (max-width: 991px) {
  .advertise__wrapper .advertise__deco-avatar:nth-child(1) {
    display: none;
  }
  .advertise__wrapper .advertise__deco-avatar:nth-child(2) {
    display: none;
  }
  .advertise__wrapper .advertise__deco-avatar:nth-child(5) {
    display: none;
  }
  .advertise__wrapper .advertise__deco-avatar:nth-child(6) {
    display: none;
  }
  .advertise__wrapper .advertise__deco .advertise__deco-ring:first-of-type {
    top: 90%;
    left: 23rem;
  }
}
@media screen and (max-width: 991px) {
  .hero__wrapper .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__wrapper .wrapper .hero__content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__wrapper .wrapper .hero__content-desc {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .feedback__wrapper .feedback__slider {
    flex-direction: column;
    gap: 2rem;
  }
  .feedback__wrapper .feedback__slider-btn {
    display: none;
  }
  .feedback__wrapper .feedback__slider .responsive {
    display: flex;
    gap: 2rem;
  }
  .feedback__wrapper .feedback__cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feedback__wrapper .feedback__cards .card {
    width: 75%;
  }
}
@media screen and (max-width: 991px) {
  .partner__wrapper .wrapper {
    padding: 0 1rem;
  }
  .partner__wrapper .wrapper .partner__slider {
    flex-direction: column;
    gap: 2rem;
  }
  .partner__wrapper .wrapper .partner__slider-btn {
    display: none;
  }
  .partner__wrapper .wrapper .partner__slider .responsive {
    display: flex;
    gap: 2rem;
  }
}
@media screen and (max-width: 991px) {
  .career__wrapper .wrapper {
    padding: 0 1rem;
  }
  .career__wrapper .wrapper .career__list {
    display: flex;
    flex-direction: column;
  }
  .career__wrapper .wrapper .career__list .career {
    justify-content: space-around;
  }
}
@media screen and (max-width: 991px) {
  .footer__wrapper .wrapper {
    padding: 0 1rem;
  }
  .footer__wrapper .wrapper .footer__info__list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }
  .footer__wrapper .wrapper .footer__info__list .footer__info {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer__wrapper .wrapper .footer__bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  .footer__wrapper .wrapper .footer__bottom-trademark {
    text-align: center;
    line-height: 3rem;
  }
  .footer__wrapper .wrapper .footer__bottom-medias {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 493px) {
  .footer__wrapper * {
    font-size: 2rem;
  }
  .footer__wrapper .wrapper .footer__info__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer__wrapper .wrapper .footer__info__list .footer__info {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    border-bottom: 1px solid #7e7e86;
  }
  .footer__wrapper .wrapper .footer__info__list .footer__info:last-child {
    border-bottom: none;
  }
}