/*
 reset CSS
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 131.3rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: inherit;
}

p {
  margin: 0;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
  padding: 0px;
  border: none;
  background-color: transparent;
}
button:hover {
  opacity: 0.5;
}

h1 {
  font-size: 3rem;
}

.container {
  max-width: 81.3rem;
  margin: 0 auto;
}

.header__wrapper {
  background-color: #fef0ef;
}
.header__wrapper .header__logo {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 4rem;
}
.header__wrapper .header__logo img {
  width: 10rem;
  height: 9rem;
}
.header__wrapper .header__nav {
  margin-right: 5.5rem;
}
.header__wrapper .header__nav .nav__list .nav__item {
  margin-right: 3.2rem;
}
.header__wrapper .header__nav .nav__list .nav__item i {
  font-size: 0.8rem;
}
.header__wrapper .header__nav .nav__list .nav__item:last-child {
  margin-right: 0;
}
.header__wrapper .header__action .header__action-search {
  margin-right: 3.5rem;
}
.header__wrapper .header__action .header__action-cart {
  margin-right: 2.7rem;
}
.header__wrapper .header__action .header__action-register button {
  border-radius: 0.3rem;
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
}

.banner__wrapper {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-color: #fef0ef;
}
.banner__wrapper .banner__content {
  margin-top: 1rem;
  width: 45%;
}
.banner__wrapper .banner__content-title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5.3rem;
  margin-bottom: 3.2rem;
}
.banner__wrapper .banner__content-desc {
  font-size: 1.6rem;
  color: #5f5881;
  line-height: 2.3rem;
  margin-bottom: 3.2rem;
}
.banner__wrapper .banner__content-input {
  box-shadow: rgba(165, 149, 158, 0.2) 0px 8px 24px;
}
.banner__wrapper .banner__content-input input {
  padding: 1.4rem 2rem;
  background-color: white;
  border: none;
  width: 100%;
}
.banner__wrapper .banner__content-input button {
  padding: 1.4rem 2rem;
  background-color: #f66962;
  color: white;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.banner__wrapper .banner__content-input button i {
  font-size: 2rem;
}
.banner__wrapper .banner__image {
  width: 35rem;
  height: 39rem;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
}
.banner__wrapper .banner__image-border {
  width: 100%;
  height: 100%;
  border: 3px solid #f68c1f;
  border-radius: 2rem;
}
.banner__wrapper .banner__image-border img {
  width: 100%;
  object-fit: cover;
  border-radius: 2rem;
  position: absolute;
  z-index: 2;
  top: -3rem;
  left: -3rem;
}

.course__wrapper {
  background-color: #efeff7;
  padding-bottom: 5rem;
}
.course__wrapper .course__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  margin-bottom: 4rem;
}
.course__wrapper .course__selection-title {
  font-weight: 600;
}
.course__wrapper .course__selection-filter button:first-child {
  margin-right: 1.5rem;
}
.course__wrapper .course__selection-filter button:last-child {
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.course__wrapper .course__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 2rem;
}
.course__wrapper .course__list::-webkit-scrollbar {
  display: none;
}
.course__wrapper .course__list .course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  min-width: 25rem;
}
.course__wrapper .course__list .course .course__image img {
  border-radius: 0.5rem;
  width: auto;
  height: 20rem;
  object-fit: cover;
}
.course__wrapper .course__list .course .course__dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f7f6fc;
  padding: 1.2rem 0;
}
.course__wrapper .course__list .course .course__dashboard-rate i {
  color: #f5c467;
}
.course__wrapper .course__list .course .course__dashboard-view i {
  color: #f68c1f;
}
.course__wrapper .course__list .course .course__dashboard-lesson i {
  color: #75b291;
}
.course__wrapper .course__list .course .course__info-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.course__wrapper .course__list .course .course__info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course__wrapper .course__list .course .course__info-content-avatar {
  display: flex;
  align-items: center;
  flex: 1 0 4rem;
  color: #5f5881;
  font-size: 1rem;
}
.course__wrapper .course__list .course .course__info-content-avatar img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.course__wrapper .course__list .course .course__info-content-price {
  display: flex;
  gap: 1rem;
}
.course__wrapper .course__list .course .course__info-content-price .price-sale {
  font-weight: 600;
  color: #f68c1f;
}
.course__wrapper .course__list .course .course__info-content-price .price-original {
  color: #5f5881;
  text-decoration: line-through;
}
.course__wrapper .course__slider {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.course__wrapper .course__slider button {
  display: block;
}
.course__wrapper .course__slider-btn {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 0.5rem;
}
.course__wrapper .course__slider-btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.course__wrapper .course__slider-btn[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
}
.course__wrapper .course__slider-btn[disabled]:hover i {
  color: #666666;
}
.course__wrapper .course__slider-btn:hover {
  opacity: 1;
  background-color: rgba(221, 221, 221, 0.8666666667);
}
.course__wrapper .course__slider-btn:hover i {
  color: #f68c1f;
}
.course__wrapper .course__slider-track {
  height: 0.5rem;
  width: 100%;
  background-color: transparent;
  position: relative;
  border-radius: 0.4rem;
}
.course__wrapper .course__slider-track:hover {
  height: 0.7rem;
}
.course__wrapper .course__slider-track .course__slider-thumb {
  position: absolute;
  height: 100%;
  width: 33%;
  background-color: #f68c1f;
  border-radius: inherit;
  cursor: grab;
}
.course__wrapper .course__slider-track .course__slider-thumb:active {
  cursor: grabbing;
  background-color: rgba(221, 221, 221, 0.8666666667);
  height: 0.8rem;
  top: -0.2rem;
}
.course__wrapper .course__slider-track .course__slider-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -1rem;
  bottom: -1rem;
}

.category__wrapper {
  margin-bottom: 5rem;
}
.category__wrapper .category__selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  margin-bottom: 4rem;
}
.category__wrapper .category__selection-title {
  font-weight: 600;
}
.category__wrapper .category__selection-filter button {
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.category__wrapper .category__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.category__wrapper .category__list .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: flex-start;
  padding: 2em 1.5rem;
  border-radius: 0.3rem;
}
.category__wrapper .category__list .category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.3rem;
}
.category__wrapper .category__list .category-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.category__wrapper .category__list .category-info {
  color: #9195a9;
  line-height: 2rem;
}
.category__wrapper .category__list .category:first-child, .category__wrapper .category__list .category:nth-child(8) {
  background-color: #efeff7;
}
.category__wrapper .category__list .category:first-child .category-icon, .category__wrapper .category__list .category:nth-child(8) .category-icon {
  background-color: #e2dcfe;
}
.category__wrapper .category__list .category:first-child .category-icon i, .category__wrapper .category__list .category:nth-child(8) .category-icon i {
  color: #5c4dab;
}
.category__wrapper .category__list .category:nth-child(2) {
  background-color: #f68c1f;
  color: white;
}
.category__wrapper .category__list .category:nth-child(2) .category-icon {
  background-color: white;
}
.category__wrapper .category__list .category:nth-child(2) .category-icon i {
  color: #f68c1f;
}
.category__wrapper .category__list .category:nth-child(2) .category-info {
  color: white;
}
.category__wrapper .category__list .category:nth-child(3), .category__wrapper .category__list .category:nth-child(6) {
  background-color: #dcf7fe;
}
.category__wrapper .category__list .category:nth-child(3) .category-icon, .category__wrapper .category__list .category:nth-child(6) .category-icon {
  background-color: #bbf0fd;
}
.category__wrapper .category__list .category:nth-child(3) .category-icon i, .category__wrapper .category__list .category:nth-child(6) .category-icon i {
  color: #0d99ff;
}
.category__wrapper .category__list .category:nth-child(4), .category__wrapper .category__list .category:nth-child(5) {
  background-color: #e5fae9;
}
.category__wrapper .category__list .category:nth-child(4) .category-icon, .category__wrapper .category__list .category:nth-child(5) .category-icon {
  background-color: #cef5d6;
}
.category__wrapper .category__list .category:nth-child(4) .category-icon i, .category__wrapper .category__list .category:nth-child(5) .category-icon i {
  color: #65d673;
}
.category__wrapper .category__list .category:nth-child(7) {
  background-color: #fdf3e9;
}
.category__wrapper .category__list .category:nth-child(7) .category-icon {
  background-color: #fae0d1;
}
.category__wrapper .category__list .category:nth-child(7) .category-icon i {
  color: #f68c1f;
}

.hero__wrapper .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.hero__wrapper .container .hero__content-title {
  font-weight: 600;
}
.hero__wrapper .container .hero__content-desc {
  color: #5f5881;
  line-height: 2rem;
  margin: 2rem 0;
}
.hero__wrapper .container .hero__content-list {
  color: #5f5881;
}
.hero__wrapper .container .hero__content-list li {
  margin-bottom: 1rem;
}
.hero__wrapper .container .hero__content-list li i {
  color: #65d673;
  margin-right: 1rem;
}
.hero__wrapper .container .hero__content-btn {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 1.2rem 2rem;
  background-color: #f66962;
  color: white;
  border-radius: 0.5rem;
}
.hero__wrapper .container .hero__image-border img {
  border-top-right-radius: 10rem;
}