.header-wrapper {
  background-color: $color-primary;
  position: fixed;
  z-index: 99999;
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .header-logo {
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 4rem;

      img {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
      }
    }

    .header-nav {
      margin-right: 5.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-list {
        display: flex;
        gap: 3.2rem;

        .nav-item {
          font-size: 1.2rem;

          i {
            font-size: 0.8rem;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .header-action {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .header-action-register {
        button {
          border-radius: 0.3rem;
          @include pageBtn(1.2rem, 2rem);
        }
      }
    }
  }
}

.header-responsive {
  display: none;
}
