.feedback-card {
    padding: 2rem 2rem;
    border-top-right-radius: 5rem;
    background-color: $card-color-grey;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;

    .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      width: 100%;

      .card-title-student {
        display: flex;
        justify-content: center;
        align-items: center;

        .card-title-student-avatar {
          @include pageAvatar;
          margin-right: 1rem;
        }

        .card-title-student-name {
          color: $p-primary;
          font-weight: 600;
        }
      }

      .card-title-rate {
        i {
          color: $color-forth;
        }
      }
    }

    &:hover {
      background-color: white;
      border-left: 0.3rem solid $color-forth;
    }
  }