.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  min-width: 24.5rem;

  .card__image {
    img {
      border-radius: 0.5rem;
      width: auto;
      height: 20rem;
      object-fit: cover;
    }
  }

  .card__dashboard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f7f6fc;
    padding: 1.2rem 0;

    &-rate {
      i {
        color: #f5c467;
      }
    }

    &-view {
      i {
        color: $color-forth;
      }
    }

    &-lesson {
      i {
        color: #75b291;
      }
    }
  }

  .card__info {
    width: 100%;
    &-title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-avatar {
        display: flex;
        align-items: center;
        flex: 1 0 4rem;
        color: $p-primary;
        font-size: 1rem;

        img {
          @include pageAvatar();
          margin-right: 1rem;
        }
      }

      &-price {
        display: flex;
        gap: 1rem;
        font-size: 1.4rem;

        .price-sale {
          font-weight: 600;
          color: $color-forth;
        }

        .price-original {
          color: $p-primary;
          text-decoration: line-through;
        }
      }
    }
  }
}
